flows.json
[{"id":"bfdb3286.fe7eb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa257271.5fdfc","type":"function","z":"bfdb3286.fe7eb","name":"f1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["bf388e82.b6894"]]},{"id":"de23851b.77e158","type":"debug","z":"bfdb3286.fe7eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":140,"wires":[]},{"id":"f723b50a.8fe6d8","type":"ui_form","z":"bfdb3286.fe7eb","name":"","label":"","group":"148e8de9.3e15c2","order":1,"width":0,"height":0,"options":[{"label":"Enter the query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":260,"wires":[["aa257271.5fdfc"]]},{"id":"35c2e82c.e8eb48","type":"ui_text","z":"bfdb3286.fe7eb","group":"148e8de9.3e15c2","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"bb303d33.4308a","type":"function","z":"bfdb3286.fe7eb","name":"f2","func":"if(msg.payload.output.error)\n{\n    msg.payload=\"please rephrase\";\n    return msg;\n}\n\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["35c2e82c.e8eb48","de23851b.77e158"]]},{"id":"bf388e82.b6894","type":"watson-conversation-v1","z":"bfdb3286.fe7eb","name":"chatbot","workspaceid":"fbeb49b8-983c-437b-a1b8-c69ac12d77a0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9543038e-a7dd-49ab-b3d5-10cd5e296b7f","timeout":"","optout-learning":false,"x":420,"y":120,"wires":[["bb303d33.4308a"]]},{"id":"148e8de9.3e15c2","type":"ui_group","z":"","name":"Default","tab":"48d6fde9.abf014","order":1,"disp":true,"width":20,"collapse":false},{"id":"48d6fde9.abf014","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]